# dependencies
node_modules/

# build output
dist/

# vite/ts cache
*.tsbuildinfo

# vercel
.vercel/

# logs
*.log
npm-debug.log*

# editor / os
.DS_Store
.idea/
.vscode/

# env
.env
.env.*
!.env.example
.vercel
